<% layout("layouts/boilerplate") %>
    <h1>Campground information</h1>
    <h2><%= campground.title %></h2>
    <ul>
        <li>Price: $<%= campground.price %>
        </li>
        <li>Description: 
            <p>
                <%= campground.description %>
            </p>
        </li>
        <li>Location: <%= campground.location %></li>
    </ul>
    <p><a href="/campground/<%= campground._id %>/edit">Edit Campground</a></p>
    <form action="/campground/<%= campground._id %>?_method=delete" method="post">
        <input type="submit" value="Delete Campground">
    </form>
</body>

</html>