<% layout("layouts/boilerplate") %>
    <div class="row mb-5">
        <h1 class="text-center">Campground information</h1>
        <div class="card col-6 offset-3">
            <img src="<%= campground.image %>" class="card-img-top mt-2" alt="<%= campground.title %>">
            <div class="card-body">
                <h5 class="card-title">
                    <%= campground.title %>
                </h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $<%= campground.price %>
                </li>
                <li class="list-group-item">Location: <%= campground.location %>
                </li>
            </ul>
            <div class="card-body">
                <a href="/campground/<%= campground._id %>/edit" class="card-link btn btn-warning">Edit Campground</a>
                <form class="d-inline-block" action="/campground/<%= campground._id %>?_method=delete" method="post">
                    <input class="card-link btn btn-danger" type="submit" value="Delete Campground">
                </form>
            </div>
        </div>
        <div class="col-6 offset-3 my-3">
            <h2>Add Review:</h2>
            <form action="/reviews/<%= campground._id %>" method="post" novalidate class="needs-validation">
                <div class="mb-2">
                    <label class="form-label" for="star">Star: </label>
                    <input type="range" class="form-range" name="star" id="star" min="1" max="5">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="review">Review: </label>
                    <textarea class="form-control" name="review" id="review" cols="auto" rows="5" maxlength="500" aria-describedby="reviewFeedback"></textarea>
                </div>
                <div class="mb-2 d-flex align-items-center">
                    <input class="btn btn-success mx-auto" type="submit" value="Add Review!">
                </div>
            </form>
        </div>
        <div class="col-10 offset-1">
            <h2>Reviews</h2>
            <ul>
                <% for( review of campground.reviews) { %>
                    <li><h6> <%= review.star %> Stars</h6>
                        <p><%= review.review %></p>
                        <a href="/reviews/<%= review._id %>/edit">edit</a>
                        <form action="/reviews/<%= review._id %>?_method=delete" method="post">
                            <input type="submit" value="delete">
                        </form>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>