<% layout("layouts/boilerplate") %>
    <div class="row">
        <div>
            <h1 class="text-center">Update Campground</h1>
        </div>
        <div class="col-6 offset-3">
            <form action="/campground/<%= campground._id %>?_method=put" method="post" class="needs-validation">
                <div class="mb-2">
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" name="title" id="title"
                        placeholder="<%= campground.title %>" aria-describedby="titleFeedback" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div id="titleFeedback" class="invalid-feedback">
                        Please Enter A Title
                      </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="price">Campground Price: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input id="price" name="price" type="number" class="form-control"
                            placeholder="<%= campground.price %>" aria-label="price" aria-describedby="priceFeedback" required>
                        <div class="valid-feedback">Looks Good!</div>
                        <div id="priceFeedback" class="invalid-feedback">
                            Please Enter A Price
                          </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                        placeholder="<%= campground.description %>" aria-describedby="descriptionFeedback" required></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                    <div id="descriptionFeedback" class="invalid-feedback">
                        Please Enter Your Campground Description
                      </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="image">Image URL: </label>
                    <input class="form-control" type="url" name="image" id="image" placeholder="<%= campground.image %>" aria-describedby="imageFeedback"
                        required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div id="imageFeedback" class="invalid-feedback">
                        Please Enter An Image Url
                      </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" name="location" id="location"
                        placeholder="<%= campground.location %>" aria-describedby="locationFeedback" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div id="locationFeedback" class="invalid-feedback">
                        Please Enter A Location
                      </div>
                </div>
                <div class="mb-2 d-flex align-items-center">
                    <input class="btn btn-info mx-auto" type="submit" value="Update Campground!">
                </div>
            </form>
        </div>
    </div>
    <script src="/js/validateForms.js"></script>